api.repro.dev {
  reverse_proxy localhost:8181 
}

app.repro.dev {
  encode zstd gzip
  root * ../apps/workspace/dist
  try_files {path} /index.html
  file_server
}

admin.repro.dev {
  encode zstd gzip
  root * ../apps/admin/dist
  try_files {path} /index.html
  file_server
}
