NODE_ENV=development

PORT=8181

DATABASE_URL=postgresql://user:password@localhost:5432/repro?schema=public

PADDLE_VENDOR_ID=
PADDLE_API_KEY=
PADDLE_SANDBOX=true

PADDLE_TEAM_PLAN_MONTHLY=
PADDLE_TEAM_PLAN_ANNUAL=

EMAIL_FROM_ADDRESS=noreply@repro.localhost
EMAIL_SENDGRID_API_KEY=SG.correct-horse-battery-staple
EMAIL_TEMPLATE_DIRECTORY=templates/email

RECORDING_DATA_DIRECTORY=data
